.header-offers {
    background-color: #9f2c90;
    width: 100%;
    padding: 10px;
    color: #fff !important;
}

.mobile-header, .desktop-header {
    background-color: #FEFEFF;
}

.mobile-toolbar-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 9;
}

.mobile-toolbar-menu-item {
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    text-align: center;
    padding: 10px 0 5px 0;
}

.mobile-toolbar-menu-item:nth-of-type(2) i, .mobile-toolbar-menu-item:nth-of-type(3) i {
    width: 16px;
}

.mobile-toolbar-menu-item a {
    font-size: 11px;
    white-space: nowrap;
    font-weight: 600;
    color: #333333;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.mobile-toolbar-menu-icons {
    font-size: 1rem;
    font-weight: 900;
}

.desktop-header {
    display: none;
}

.header-logo-mobile {
    width: 65px;
}

.header-logo-mobile img {
    width: 100%;
}

.mobile-header {
    z-index: 9;
}

.main-mobile-header {
    background-color: #FEFEFF;
}

.header-logo-desktop {
    width: 100px;
}

.header-search-desktop {
    background-color: #F3F4F6;
    border-radius: 5px;
}

.header-search-desktop-input {
    background-color: #F3F4F6;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding-left: 1rem;
}

.header-search-desktop-btn i {
    color: rgb(117, 117, 117);
}

.categories-container {
    z-index: 9;
}

.desktop-burger-menu::before {
    position: absolute;
    right: 100%;
    content: "";
    background-color: rgba(129, 129, 129, .2);
    width: 1px;
    height: 30px;
}

.search-screen-container {
    height: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 99;
    transition: all 0.45s ease-out;
}

.mobile-search-container {
    margin-bottom: 2rem;
    border-bottom: 1px solid #9f2c90;
}

.mobile-search-container input::placeholder {
    font-size: 10px;
    color: #a1a3a8;
}

.mobile-search input {
    font-size: 10px;
    font-weight: 400;
    line-height: 2.17;
}

.popular-searches, .search-options-container {
    font-size: 11px;
    color: #3f4064;
}

.popular-searches i, .search-options-container i {
    color: #a1a3a8;
}

.recently-searched-item {
    color: #3f4064;
    border: 1px solid #e0e0e2;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 700;
    line-height: 2.15;
}

.recently-searched-item i {
    color: #3f4064;
}

.poplar-searches-items a, .recently-searched-items a {
    white-space: nowrap;
}

.mobile-menu {
    background-color: #FEFEFF;
    z-index: 99;
    transition: all 0.3s ease-out;
    max-width: 320px;
}

.blur-bg {
    backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    inset: 0;
}

.close-menu i {
    color: #3f4064;
}

.menu-tab, .categories-tab {
    background-color: rgba(0, 0, 0, .05);
    color: rgba(33, 37, 41, 0.55);
    font-weight: 600;
    font-size: 14px;
}

.is-active-tab {
    color: #212529 !important;
    border-bottom: 2px solid #9f2c90 !important;
    background-color: rgba(0, 0, 0, .08);
    transition: color, background-color .4s ease-out;
}

.mobile-menu-nav-item, .mobile-menu-categories-item {
    padding: 15px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
    font-size: 13px;
    font-weight: 600;
}

.mobile-submenu-item a {
    font-size: 11px;
}

.mobile-menu-categories-child {
    font-size: 12px;
}

.mobile-menu-categories-item a, .mobile-submenu-item a {
    width: 100%;
}

.mobile-menu-nav-item a, .categories-nav-item a {
    width: 100% !important;
    display: inline-block;
}

.dropdown-menu-icon {
    width: 16px;
    transition: all .2s ease-out;
}

.ham {
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham4 .top {
    stroke-dasharray: 40 121;
}

.ham4 .bottom {
    stroke-dasharray: 40 121;
}

.ham4.active .top {
    stroke-dashoffset: -68px;
}

.ham4.active .bottom {
    stroke-dashoffset: -68px;
}

.angel-down {
    transform: rotate(-90deg);
    transition: all .2s ease-out;
}

.categories-nav-item, .categories-sub-header {
    padding: 16px;
    font-weight: 600;
}

.categories-nav-item:hover {
    background-color: #FFF;
}

.categories-container {
    height: 100%;
    max-height: calc(100vh - 40%);
}

.categories-nav {
    background-color: rgba(243, 244, 246, .7);
    width: 227px;
}

.categories-sub-list {
    font-size: 14px;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
}

.slider-content .swiper-pagination .swiper-pagination-bullet {
    width: 7px !important;
    height: 7px !important;
    background-color: #555 !important;
    border-radius: 50% !important;
    margin: 0 5px !important;
    cursor: pointer !important;
}

.slider-content .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fff !important;
}


.all-products-link, .all-products-link i {
    font-size: 14px !important;
    color: #9f2c90 !important;
    font-weight: 600;
}

.all-products-link i {
    font-size: 12px !important;
    margin: 0 .3rem;
}

.section-header {
    color: #242424 !important;
    border-bottom: 2px solid #9f2c90;
    padding: 7px 0 !important;
    font-size: 1rem !important;
    margin: 0 !important;: 9;
}

.swiper-slide {
    width: 50%;
}

.gift-shop-mag-articles .swiper-slide {
    width: 80%;
}

.product-slide {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(254, 254, 255);
    margin-bottom: 3rem;
    box-shadow: 0 1px 10px rgb(0 0 0 / 5%);
}

.slide-image img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 1rem;
}

.slide-caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 5px 10px 15px 10px;

}

.slide-caption h3 {
    overflow: hidden;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.87);
    text-overflow: ellipsis;
    text-wrap: revert;
    opacity: .9;
    margin-bottom: 1.5rem;
}

.product-price {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: .3rem;
    color: #3f4064;
    font-weight: 600;
    font-size: 12px;
}

.product-price span {
    font-size: 14px !important;
}

.products-slider .swiper-pagination .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background-color: transparent !important;
    border: 2px solid #757575;
    border-radius: 50% !important;
    margin: 0 5px !important;
    cursor: pointer !important;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.products-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #000 !important;
    border-color: #000;
}

.products-slider .swiper-button-prev, .products-slider .swiper-button-next, .gift-shop-mag-articles .swiper-button-next,
.gift-shop-mag-articles .swiper-button-prev {
    background-color: #FEFEFF;
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgb(191, 192, 196);
    padding: .8rem !important;
}

.products-slider .swiper-button-prev::after, .products-slider .swiper-button-next::after,
.gift-shop-mag-articles .swiper-button-next::after, .gift-shop-mag-articles .swiper-button-prev::after {
    color: #333333;
    font-size: 14px !important;
    font-weight: 700;
}

.gift-types-header::before {
    content: '';
    background-color: #7777;
    width: 100%;
    height: 2px;
    position: absolute;
    top: calc(100% - 6px);
}

.slide-image svg {
    width: 70px;
    height: 70px;
}

.gift-types-slider {
    background-image: url(https://shop.3sz.ir/wp-content/uploads/2020/07/background-gift.svg);
    background-color: #FFF;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.gift-types-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 3.5rem;
}

.gift-types-slide div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    padding: 5px;
}

.slide-caption h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.gift-types-btn {
    color: #FFF !important;
    font-size: 12px;
    background-color: #9f2c90;
    border: none;
    padding: 7px 10px;
    border-radius: 20px;
    display: flex;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
    transition: opacity .25s;
}

.gift-types-btn:hover {
    opacity: .8;
}

.gift-types-btn:active {
    box-shadow: 0 0 0;
    transform: translateY(1px);
}

.gift-shop-mag-header p, .caption-text p {
    font-size: 14px;
    color: #777777;
}

.caption-text p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption-header h3 {
    font-size: 15px;
}

.mag-article {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 100%;
    overflow: hidden;
}

.article-image {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.article-image a:hover {
    opacity: unset;
}

.article-image a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
}

.article-image:hover a img {
    transform: scale(1.1);
}

.article-image:hover a::after {
    opacity: .8 !important;
}

.article-image a img {
    transition: all .5s ease-out;
}

.more-info a {
    color: #9f2c90 !important;
    font-size: 13px;
    font-weight: 600;
}

.footer {
    background-color: #FEFEFF;
}

.go-up-btn-container button {
    font-size: 14px;
    color: #3f3f46;
}

.footer-support-info p, .subscription-header p {
    font-size: 14px;
    color: #71717A;
}

.subscription-container {
    background-color: rgb(243 244 246);
    box-shadow: 0 1px 10px #0000000d;
    backdrop-filter: blur(64px);
}

.subscription-input button {
    background-color: #a62698;
    font-size: 14px;
}

.subscription-input button:hover {
    opacity: .8 !important;
    background-color: #a62698 !important;
}

.subscription-input input {
    color: rgb(82 82 91);
}

.social-links div a {
    color: #3f3f46;
    font-size: 22px;
}

.fa-telegram, .fa-linkedin, .fa-x-twitter, .fa-instagram {
    transition: all .25s ease-out;
}

.fa-telegram:hover {
    color: #1c7ed6;
    opacity: 1 !important;
}

.fa-x-twitter:hover {
    color: #282828;
    opacity: 1 !important;
}

.fa-linkedin:hover {
    color: #1062a8;
    opacity: 1 !important;
}

.fa-instagram:hover {
    color: #dd0075;
    opacity: 1 !important;
}

.footer-nav-container h5, .footer-shop-verification h5 {
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    margin: 1.5rem 0;
}

.footer-nav-container p a, .copywrite-rights p, .verification-header p {
    font-size: 14px;
    color: #777777 !important;
}

.verification-header h5 {
    margin: 1rem 0;
}

.text-404 {
    color: rgba(0, 0, 0, .56);
}

.paths {
    font-size: 11px;
}

.form-container form div p, .questions-container div p {
    font-size: 12px !important;
    color: #a5a5a5;
}

label {
    font-size: 14px;
}

.input-font {
    font-size: 14px;
    color: rgba(77, 77, 77, 0.88);
}

.question {
    font-size: 14px;
}

.x-icon {
    transition: all .25s;
    transform: rotate(45deg);
}

#userMessage {
    min-height: 150px;
}

.navbar-wrapper {
    background-color: #FEFEFE;
}

.general-header::before {
    content: "";
    position: absolute;
    background-color: #dee2e6;
    height: 1px;
    width: 200vw;
    bottom: 0;
    top: 100%;
    right: -100vw;
}