.header-offers {
    background-color: #9f2c90;
    width: 100%;
    padding: 10px;
    color: #fff !important;
}

.mobile-toolbar-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

.mobile-toolbar-menu-item {
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    text-align: center;
    padding: 10px 0 5px 0;
}

.mobile-toolbar-menu-item:nth-of-type(2) i, .mobile-toolbar-menu-item:nth-of-type(3) i {
    width: 16px;
}

.mobile-toolbar-menu-item a {
    font-size: 11px;
    white-space: nowrap;
    font-weight: 600;
    color: #333333;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.mobile-toolbar-menu-icons {
    font-size: 1rem;
    font-weight: 900;
}

.desktop-header {
    display: none;
}

.header-logo-mobile {
    width: 65px;
}

.header-logo-mobile img {
    width: 100%;
}

.main-mobile-header {
    background-color: #FEFEFF;
}

.header-logo-desktop {
    width: 100px;
}

.header-search-desktop {
    background-color: #F3F4F6;
    border-radius: 5px;
}

.header-search-desktop-input {
    background-color: #F3F4F6;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding-left: 1rem;
}

.header-search-desktop-btn i {
    color: rgb(117, 117, 117);
}

.categories-container {
    z-index: 99999;
}

.desktop-burger-menu::before {
    position: absolute;
    right: 100%;
    content: "";
    background-color: rgba(129, 129, 129, .2);
    width: 1px;
    height: 30px;
}

.search-screen-container {
    height: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;
    transition: all 0.45s ease-out;
}

.mobile-search-container {
    margin-bottom: 2rem;
    border-bottom: 1px solid #9f2c90;
}

.mobile-search-container input::placeholder {
    font-size: 10px;
    color: #a1a3a8;
}

.mobile-search input {
    font-size: 10px;
    font-weight: 400;
    line-height: 2.17;
}

.popular-searches, .search-options-container {
    font-size: 11px;
    color: #3f4064;
}

.popular-searches i, .search-options-container i {
    color: #a1a3a8;
}

.recently-searched-item {
    color: #3f4064;
    border: 1px solid #e0e0e2;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 700;
    line-height: 2.15;
}

.recently-searched-item i {
    color: #3f4064;
}

.poplar-searches-items a, .recently-searched-items a {
    white-space: nowrap;
}

.mobile-menu {
    background-color: #FEFEFF;
    z-index: 9999;
    transition: all 0.3s ease-out;
    max-width: 320px;
}

.blur-bg {
    backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    inset: 0;
}

.close-menu i {
    color: #3f4064;
}

.menu-tab, .categories-tab {
    background-color: rgba(0, 0, 0, .05);
    color: rgba(33, 37, 41, 0.55);
    font-weight: 600;
    font-size: 14px;
}

.is-active-tab {
    color: #212529 !important;
    border-bottom: 2px solid #9f2c90 !important;
    background-color: rgba(0, 0, 0, .08);
    transition: color, background-color .4s ease-out;
}

.mobile-menu-nav-item, .mobile-menu-categories-item {
    padding: 15px;
    border-bottom: 1px solid rgba(129, 129, 129, 0.2);
    font-size: 13px;
    font-weight: 600;
}

.mobile-submenu-item a {
    font-size: 11px;
}

.mobile-menu-categories-child {
    font-size: 12px;
}

.mobile-menu-categories-item a, .mobile-submenu-item a {
    width: 100%;
}

.mobile-menu-nav-item a, .categories-nav-item a {
    width: 100% !important;
    display: inline-block;
}

.dropdown-menu-icon {
    width: 16px;
    transition: all .2s ease-out;
}

.ham {
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham4 .top {
    stroke-dasharray: 40 121;
}

.ham4 .bottom {
    stroke-dasharray: 40 121;
}

.ham4.active .top {
    stroke-dashoffset: -68px;
}

.ham4.active .bottom {
    stroke-dashoffset: -68px;
}

.angel-down {
    transform: rotate(-90deg);
    transition: all .2s ease-out;
}

.categories-nav-item, .categories-sub-header {
    padding: 16px;
    font-weight: 600;
}

.categories-nav-item:hover {
    background-color: #FFF;
}

.categories-container {
    height: 100%;
    max-height: calc(100vh - 40%);
}

.categories-nav {
    background-color: rgba(243, 244, 246, .7);
    width: 227px;
}

.categories-sub-list {
    font-size: 14px;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 7px !important;
    height: 7px !important;
    background-color: #555 !important;
    border-radius: 50% !important;
    margin: 0 5px !important;
    cursor: pointer !important;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}